.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  backdrop-filter: blur(20px);
  background: rgba(15, 15, 15, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.logo {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  margin: 0;
}
.actions button {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 24px;

  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}
.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ff3b30;
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.search-bar {
  margin-top: 90px;
  padding: 16px 20px;
  background: rgba(30, 30, 30, 0.65);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  gap: 12px;
}
input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  &::placeholder {
    color: #888;
  }
}
.filter-btn {
  color: #888;
}
