.auth-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
  display: grid;
  place-items: center;
  padding: 20px;
}
.glass-card {
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 32px;
  padding: 48px 32px;
  width: 100%;
  max-width: 420px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
}
h1 {
  font-family: 'Playfair Display';
  font-size: 36px;
  margin: 0 0 8px;
}
.subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

input {
  width: 100%;
  padding: 18px;
  margin: 12px 0;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #444;
  border-radius: 16px;
  color: white;
  font-size: 16px;
}
.password-wrapper {
  position: relative;
}
.password-wrapper button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #888;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;

  a{
    &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  }
}
.options label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ccc;
}

.login-btn {
  width: 100%;
  background: linear-gradient(135deg, #9d4edd, #c77dff);
  border: none;
  color: white;
  padding: 18px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
.signup-link {
  color: #888;
}
.signup-link a {
  color: #c77dff;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
