<div class="overlay" (click)="close()"></div>

<aside class="drawer">
  <div class="header">
    <h2>Your Cart ({{ totalItems }})</h2>
    <button (click)="close()"><mat-icon>close</mat-icon></button>
  </div>

  <div class="items">
    <div class="item" *ngFor="let item of items ">
      <img [src]="item.image" [alt]="item.name" />
      <div class="info">
        <p class="brand">{{ item.brand }}</p>
        <h4>{{ item.name }}</h4>
        <p class="details">Size {{ item.size }} • {{ item.color }}</p>
        <p class="price">${{ item.price * item.quantity }}</p>
      </div>

      <div class="actions">
        <button >
          -
        </button>
        <span>{{ item.quantity }}</span>
        <button >
          +
        </button>
        <button class="remove">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="promo">
    <input type="text" placeholder="Promo code" [(ngModel)]="code" />
    <button class="apply-button" (click)="apply()">Apply</button>
  </div>

  <div class="summary">
    <div class="row">
      <span>Subtotal</span>
      <span>{{ subtotal | currency : 'USD' : 'symbol' : '1.0' }}</span>
    </div>
    <div class="row discount" *ngIf="(discount ?? 0) > 0">
      <span>Discount (25%)</span>
      <span
        >-{{
          (subtotal * discount / 100) | currency : 'USD' : 'symbol' : '1.0'
        }}</span
      >
    </div>
    <div class="row total">
      <strong>Total</strong>
      <strong>{{ total  | currency : 'USD' : 'symbol' : '1.0' }}</strong>
    </div>
  </div>

  <button class="checkout" routerLink="/checkout" (click)="proceedToCheckout()">Proceed to Checkout</button>
  <button class="continue" (click)="continueShooping()">Continue Shopping</button>
</aside>
