#card-element {
  padding: 16px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  margin: 20px 0;
}

.next {
  width: 100%;
  margin-top: 32px;
  background: linear-gradient(135deg, #9d4edd, #c77dff);
  border: none;
  color: white;
  padding: 18px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.stripe-btn {
  background: linear-gradient(135deg, #9d4edd, #c77dff);
  border: none;
  color: white;
  width: 100%;
  padding: 24px;
  border-radius: 32px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  box-shadow: 0 20px 60px rgba(157, 78, 221, 0.5);
}

.stripe-btn img {
  height: 32px;
}

.discreet {
  font-size: 14px;
  opacity: 0.7;
}

.payment-step {
  text-align: center;
}
#payment-element {
  min-height: 400px;
  margin: 40px 0;
}
.pay-btn {
  width: 100%;
  padding: 24px;
  font-size: 24px;
  background: linear-gradient(135deg, #9d4edd, #c77dff);
  border: none;
  border-radius: 28px;
  color: white;
}
