.payment-step {
  text-align: center;
}

#payment-element {
  display: flex;
}

.pay-btn {
  width: 100%;
  padding: 1rem;
  font-size: 24px;
  background: linear-gradient(135deg, #9d4edd, #c77dff);
  border: none;
  border-radius: 0.7rem;
  color: white;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
