.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.btn-add {
  background: linear-gradient(135deg, #9d4edd, #c77dff);
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(30, 30, 30, 0.4);
  border-radius: 20px;
  overflow: hidden;
}
th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
th {
  background: rgba(157, 78, 221, 0.1);
}
.thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 12px;
}
.status {
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  background: red;
}

.status.available {
  background: #4ade80;
  color: black;
}

.btn{
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;

  &:hover{
   cursor: pointer;
   opacity: 0.9;
  }
}


.btn-delete {
  color: red;
}

.btn-edit {
 color: white;
}

.actions{
  display: flex;
}