<div class="header">
  <h2>Products</h2>
  <button routerLink="new" class="btn-add">+ Add Product</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Sku</th>
        <th>Price</th>
        <th>Raring</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products$ | async; track $index) {
      <tr>
        <td><img [src]="product.imageFile" class="thumb" /></td>
        <td>
          <strong>{{ product.name }}</strong>
        </td>
        <td>{{ product.description }}</td>
        <td>{{ product.sku }}</td>
        <td>${{ product.price.toLocaleString() }}</td>
        <td>{{ product.rating }}</td>
        <td>
          <span class="status" [class.available]="product.isAvailable">{{
            product.isAvailable ? 'Yes' : 'No'
          }}</span>
        </td>
        <td>
          <div class="actions">
            <button class="btn btn-edit" routerLink="{{ product.id }}">Edit</button>
            <button class="btn btn-delete" (click)="delete(product.id)">Delete</button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
